[Unit]
Description=Optolink-Konfiguration nach Home Assistant sichern
After=network-online.target optolinkvs2_switch.service
Wants=network-online.target

[Service]
Type=oneshot
EnvironmentFile=-/etc/default/optolink-backup
ExecStart=/usr/local/sbin/optolink-backup
User=root
Nice=10
IOSchedulingClass=idle
